# Logs
logs
*.log
npm-debug.log*

# Test and coverage output
.nyc_output
coverage

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Environment variables
.env

# Runtime data
runtime
